Body {
    /* Hintergund der Weseiten, breite, ausrichtung und Schriftart*/
    background: url("../Bilder/bg.png");
    font-family: sans-serif;
    width: 800px;
    justify-content: center;
    text-align: center;
}

p,
i,
a,
small,
ul,
li {
    font-size: 21px;
}

h1 {
    font-size: 30px;
    text-shadow: 2px 10px 20px darkslateblue;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 23px;
}

video {
    width: 650px;
    height: 400px;
}

.Mynav {
    background-color: lightgray;
    margin-top: -8px;
    margin-left: -8px;
    overflow: hidden;
    position: sticky;
    top: 0;
}

#logo1 {
    width: 40px;
    height: 40px;
}

#logo2 {
    width: 40px;
    height: 35px;
}

img {
    width: 150px;
    height: 200px;
}

#Icon {
    width: 30px;
    height: 30px;
}

#Losgehts {
    width: 50px;
    height: 50px;
}


/* Navigation an die rechte seite der Wesite heften */

.Mynav a {
    float: right;
    color: white;
    text-align: right;
    padding: 10px 12px;
    border-bottom: 5px;
    text-decoration: none;
    font-size: 21px;
}

.secondNav a {
    float: right;
    text-align: right;
    padding: 10px 12px;
    border-bottom: 5px;
    text-decoration: none;
    font-size: 21px;
}


/* Farbe der Navigation wenn man drüber fährt*/

.Mynav a:hover {
    background-color: lightskyblue;
    color: black;
}

.secondNav a:hover {
    background-color: lightgray;
}


/* Aktuelle Navigation (Link) hervorheben*/

.Mynav a.active {
    background-color: lightskyblue;
    color: white;
}


/* Überschrift des Kontakzformulars*/

#KontaktÜberschrift {
    text-align: left;
    color: gray;
}


/* Kontaktformular anhand des Box Modells */

form {
    background-color: lightgray;
    width: 370px;
    padding: 20px;
    border: 1px solid lightgray;
}

label {
    display: block;
    cursor: pointer;
    text-align: left;
}

input {
    width: 300px;
    border: 1px solid;
    margin-bottom: 1em;
}

textarea {
    height: 7em;
    text-align: left;
}


/* Liste mit ID bearbeitet*/

#Liste {
    list-style: square;
    list-style-position: inside;
}

#Liste2 {
    list-style: none;
}


/* Überschriften und Links mit Farbe versehen*/

h1,
h2,
h3 {
    color: black;
}

a {
    color: gray;
}


/* Br Tags Zeilenumbruch */

div.Absätze {
    display: block;
}