body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url("../Bilder/loginBackground.jpg");
}

.ÜberschriftLogin {
    margin-left: 600px;
    margin-top: 150px;
    text-align: center;
}

form,
p {
    margin-left: 800px;
    font-size: 17px;
}

input {
    width: 200px;
    height: 25px;
}

button {
    width: 100px;
    margin-left: 50px;
}

@media only screen and (min-width: 601px) and (max-width: 1023px) {
    .ÜberschriftLogin {
        color: white;
        margin-left: -23px;
        margin-top: 400px;
        font-size: 18px;
    }
    form,
    p {
        font-size: 21px;
        margin-left: 100px;
        margin-top: 80px;
        color: white;
    }
    .loginFormular {
        margin-left: 215px;
        margin-top: -380px;
    }
    .registartionFormular {
        margin-left: -20px;
    }
    button {
        font-size: 20px;
        width: 150px;
        margin-left: 25px;
    }
    input {
        font-size: 20px;
        height: 30px;
    }
    p {
        font-size: 21px;
    }
}

@media only screen and (max-width: 600px) {
    .ÜberschriftLogin {
        font-size: 10px;
        margin-top: 50px;
        margin-left: 10px;
        color: white;
    }
    form,
    p {
        font-size: 15px;
        margin-left: 80px;
        margin-top: 80px;
        color: white;
    }
    input {
        width: 150px;
        height: 20px;
    }
    button {
        width: 90px;
        margin-left: 35px;
    }
}