body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: gainsboro;
}

.Navigation {
    overflow: hidden;
    position: sticky;
    top: 0;
}

.Navigation a {
    float: right;
    color: black;
    text-align: right;
    padding: 10px 12px;
    border-bottom: 5px;
    text-decoration: none;
    font-size: 21px;
}

.Navigation a:hover {
    background-color: lightslategrey;
    color: black;
}

.Navigation a.active {
    background-color: lightslategrey;
    color: black;
}

.grammInput {
    width: 70px;
}

.zubereitungsSchritte {
    width: 600px;
    height: 400px;
}

#veröffentlichen {
    margin-left: 220px;
}

.rezeptErstellen {
    margin-left: 150px;
}