body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url("../Bilder/loginBackground.jpg");
}

.ÜberschriftLogin {
    margin-left: 600px;
    margin-top: 150px;
    text-align: center;
}

form,
p {
    margin-left: 800px;
    font-size: 17px;
}

input {
    width: 200px;
    height: 25px;
}

button {
    width: 100px;
    margin-left: 50px;
}

@media only screen and (min-width: 601px) and (max-width: 1023px) {
    body {
        background-repeat: no-repeat;
        background-color: grey;
    }
}

@media only screen and (max-width: 600px) {
    .ÜberschriftLogin {
        font-size: 10px;
        margin-top: 50px;
        margin-left: 20px;
        color: white;
    }
    form,
    p {
        font-size: 15px;
        margin-left: 100px;
        margin-top: 80px;
        color: white;
    }
    input {
        width: 150px;
        height: 20px;
    }
    button {
        width: 90px;
        margin-left: 35px;
    }
}