body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url("../Bilder/whitePaper.jpg");
}

.Navigation {
    overflow: hidden;
    top: 0px;
}

.Navigation a {
    float: right;
    color: black;
    text-align: right;
    padding: 10px 12px;
    border-bottom: 5px;
    text-decoration: none;
    font-size: 21px;
}

.Navigation a:hover {
    background-color: lightslategrey;
    color: black;
}

.Navigation a.active {
    background-color: lightslategrey;
    color: black;
}

.zubereitungsSchritte {
    width: 600px;
    height: 400px;
}

#veröffentlichen {
    margin-left: 250px;
}

.rezeptErstellen {
    margin-left: 200px;
}

input {
    text-align: center;
}

.rezeptNameInput {
    width: 300px;
    margin-left: -65px;
}

#serverAntwort {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    width: 900px;
    text-align: center;
    margin-left: 120px;
    line-height: 35px;
}

.überschriftRezeptErstellen {
    width: 500px;
    text-align: center;
    margin-left: 40px;
}

#meineRezepte {
    margin-left: 600px;
    width: 100px;
}

.headingÜberschrift {
    margin-left: 470px;
}

.headingAlleRezepze {
    margin-left: 320px;
    margin-top: 60px;
}

#rezeptBearbeiten {
    margin-left: 750px;
    margin-top: 20px;
}

#favButton {
    margin-left: 500px;
    margin-top: 30px;
}

@media only screen and (min-width: 601px) and (max-width: 1023px) {
    button {
        width: 150px;
        height: 30px;
        text-align: center;
    }
    .zubereitungsSchritte {
        width: 600px;
        height: 400px;
        margin-left: 80px;
    }
    .rezeptErstellen {
        margin-left: 80px;
    }
    input {
        margin-left: 200px;
        width: 200px;
        font-size: 20px;
    }
    #veröffentlichen {
        margin-left: 320px;
        height: 30px;
        width: 150px;
        font-size: 20px;
    }
    .rezeptNameInput {
        margin-left: 150px;
    }
    #serverAntwort {
        font-size: 17px;
        width: 550px;
        margin-left: 75px;
        line-height: 30px;
    }
    .überschriftRezeptErstellen {
        margin-left: 130px;
    }
    .headingÜberschrift {
        margin-left: 270px;
    }
    .headingAlleRezepze {
        margin-left: 140px;
    }
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 14px;
    }
    .Navigation a {
        font-size: 11px;
        padding: 8px 8px;
    }
    .Navigation {
        position: static;
    }
    .zubereitungsSchritte {
        width: 270px;
        height: 200px;
        margin-left: 15px;
    }
    .rezeptErstellen {
        margin-left: 80px;
    }
    input {
        width: 120px;
        font-size: 11px;
    }
    #veröffentlichen {
        margin-left: 95px;
        height: 20px;
        width: 100px;
        font-size: 11px;
    }
    .rezeptNameInput {
        width: 200px;
        margin-left: -35px;
    }
    #serverAntwort {
        font-size: 11px;
        width: 290px;
        margin-left: 0px;
        line-height: 25px;
    }
    .überschriftRezeptErstellen {
        margin-left: 30px;
        width: 250px;
    }
    .headingÜberschrift {
        margin-left: 100px;
    }
    .headingAlleRezepze {
        margin-left: 15px;
        margin-top: 30px;
    }
}